header { display: block; background-color: black; color: white; }
footer { display: block; background-color: black; color: white; }
body { display: block; background-color: lightgray; color: black; }
//body { background-color: lightgray; color: black; }

